.login-section {
  padding: 20px;
  text-align: center;
  position: relative;
}

.snap-area {
  padding: 0 20px 40px 20px;
}

.scan-section {
  width: 60%;
  height: 20%;
  position: absolute;
  top: 25%;
  left: 20%;
  border: 1px red solid;
  z-index: 100;
}

// canvas {
//   position: absolute;
//   display: none;
// }